black
cython
fastcluster
graph-tool
ipython
isort
jax
jaxopt
jupyterlab
line_profiler
lz4
matplotlib
memory_profiler
netCDF4
nptyping
numpy
pandas
pip
pre-commit
pynvim
pyright
pytest
scipy
seaborn
snakemake
tqdm
xarray
